[Unit]
Description= Mesos DNS
After= network.target
Wants= network.target

[Service]
ExecStart=/usr/bin/mesos-dns -config=/tmp/config.json
Restart=always
RestartSec={{mesos_dns_restart_sec}}
KillMode=SIGKILL
