## Marathon scheduler options

export JAVA_HOME={{marathon_java_home_path}}
export JAVA_OPTS={{marathon_java_opts_var}}
export MARATHON_MASTER=zk://{% for host in groups['zookeeper'] %}{{host}}:2181{% if not loop.last%},{% endif %}{% endfor %}/mesos
export MARATHON_ZK=zk://{% for host in groups['zookeeper'] %}{{host}}:2181{% if not loop.last%},{% endif %}{% endfor %}/scheduler/marathon
export MARATHON_HTTP_PORT={{marathon_http_port}}
