# Author : zagabe.ed@gmail.com (Eddy ZAGABE)
#
# Default configuration file for the
# infrastructure configuration and deployement
#

[defaults]

# Default location of the inventory file
hostfile = hosts

# Key checking ('known_hosts' file) disabled for new host
host_key_checking = false

# Default user name that ansible will use
remote_user = root

# Ask root password
ask_pass = true