#
# Ansible configuration file
#

[defaults]

# Default location of the inventory file
hostfile = hosts

# Key checking ('known_hosts' file) disabled for new host
host_key_checking = false

# The username ansible will connect
remote_user = root

retry_files_enabled = False
