## Default mesos-master configuration

# Definition of the mesos-master cluster name
export MESOS_CLUSTER={{var_hostname}}

# Definition of the mesos-master qorum
export MESOS_QUORUM={{mesos_master_quorum}}

# Definition of the mesos-master port
export MESOS_PORT={{mesos_master_port}}