## Default mesos configuration 

ULIMIT="{{mesos_ulimit}}"
ZK=zk://{% for host in groups['zookeeper'] %}{{host}}:2181{% if not loop.last%},{% endif %}{% endfor %}/mesos
LOGS={{mesos_log_dir}}
IP={{mesos_ip_address}}
export MESOS_WORK_DIR={{mesos_work_dir}}
export MESOS_HOSTNAME={{hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address']}}
